

.navpadding{
    padding-right: 159px;
    
}

.buttonstyle{

    background:RED;
    border-radius: 25PX;
    width:  155px;
}

.contcolor{
    background-color: #f8f7f5;
}
.textstyle{
    height: 97px;
}

body .container-fluid{

    width: 100vw;
    overflow-x: hidden;
    margin: 0;

}

body{
    /* width: 100vw; */
    overflow-x: hidden;
    cursor:pointer;
}